.hero {
  position: relative;
  min-height: 720px;
  margin-top: -70px;
  padding-top: 150px;
  overflow: hidden;
  color: var(--color-white);
}

.hero :global(.container) {
  position: relative;
  z-index: 2;
  min-height: 570px;
}

.content {
  position: relative;
  z-index: 3;
  max-width: 560px;
}

.title {
  margin: 0;
  font-size: 128px;
  font-weight: 400;
  line-height: 0.9;
}

.line {
  width: 100%; //тут исправить
  height: 2px;
  margin: 40px 0;
  background: rgba(255, 255, 255, 0.2);
}

.description {
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.5%;
}

.bottomText {
  margin-top: 124px;

  h2 {
    margin: 0 0 8px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.15;
  }

  p {
    margin: 0;
    max-width: 560px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
  }
}

.product {
  position: absolute;
  top: 108px;
  left: 51%;
  z-index: 2;
  width: 385px;
  height: auto;
  transform: rotate(8deg);
  pointer-events: none;
}

.info {
  position: absolute;
  top: 258px;
  right: 0;
  z-index: 3;
  margin: 0;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.45;
}

//фон
.background {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(180deg, #2f9dcf 0%, #2a92c5 100%);
  pointer-events: none;
}

.glow {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(47, 157, 207, 0.2) 0%,
    rgba(255, 255, 255, 0.32) 55%,
    rgba(47, 157, 207, 0.1) 100%
  );
}

.bone {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: auto;
  transform: translateX(-50%);
  opacity: 0.8;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: auto;
  transform: translateX(-50%);
  opacity: 0.4;
}
